.custom-shape-divider-bottom-1642634171 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	z-index: -1;
}

.custom-shape-divider-bottom-1642634171 svg {
	position: relative;
	display: block;
	width: calc(265% + 1.3px);
	height: 600px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642634171 .shape-fill {
	fill: #25262a;
}
